USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[UserID] [nchar](10) NOT NULL,
	[Date] [date] NOT NULL,
	[IsPresent] [bit] NOT NULL,
	[SubjectID] [char](10) NOT NULL,
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Attendan__8B69263CB2638119] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [char](10) NOT NULL,
	[ClassName] [nvarchar](60) NOT NULL,
	[UserID] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] NOT NULL,
	[Description] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[UserID] [nchar](10) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[Phone] [char](10) NULL,
	[ClassID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrades]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrades](
	[StudentGradeID] [nchar](10) NOT NULL,
	[UserID] [nchar](10) NOT NULL,
	[GradeID] [int] NOT NULL,
	[SubjectID] [char](10) NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [char](10) NOT NULL,
	[SubjectName] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[UserID] [nchar](10) NOT NULL,
	[FirstName] [nvarchar](60) NOT NULL,
	[LastName] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TeacherID] [nchar](10) NOT NULL,
	[SubjectID] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/4/2024 1:12:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [nchar](10) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([UserID], [Date], [IsPresent], [SubjectID], [AttendanceID]) VALUES (N'STU0000001', CAST(N'2024-11-01' AS Date), 1, N'MATH001   ', 2)
INSERT [dbo].[Attendance] ([UserID], [Date], [IsPresent], [SubjectID], [AttendanceID]) VALUES (N'STU0000002', CAST(N'2024-11-01' AS Date), 0, N'MATH001   ', 3)
INSERT [dbo].[Attendance] ([UserID], [Date], [IsPresent], [SubjectID], [AttendanceID]) VALUES (N'STU0000003', CAST(N'2024-11-01' AS Date), 1, N'BIO001    ', 4)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
INSERT [dbo].[Class] ([ClassID], [ClassName], [UserID]) VALUES (N'C0000001  ', N'1А клас', N'TCH0000001')
INSERT [dbo].[Class] ([ClassID], [ClassName], [UserID]) VALUES (N'C0000002  ', N'1Б клас', N'TCH0000002')
INSERT [dbo].[Class] ([ClassID], [ClassName], [UserID]) VALUES (N'C0000003  ', N'1В клас', N'TCH0000003')
GO
INSERT [dbo].[Grades] ([GradeID], [Description]) VALUES (1, N'2 ')
INSERT [dbo].[Grades] ([GradeID], [Description]) VALUES (2, N'3 ')
INSERT [dbo].[Grades] ([GradeID], [Description]) VALUES (3, N'4 ')
GO
INSERT [dbo].[Student] ([UserID], [FirstName], [LastName], [Adress], [Phone], [ClassID]) VALUES (N'STU0000001', N'Павел', N'Иванов', N'ул. Шипка 10', N'0887123456', N'C0000001  ')
INSERT [dbo].[Student] ([UserID], [FirstName], [LastName], [Adress], [Phone], [ClassID]) VALUES (N'STU0000002', N'Лилия', N'Петрова', N'ул. Васил Левски 22', N'0887654321', N'C0000001  ')
INSERT [dbo].[Student] ([UserID], [FirstName], [LastName], [Adress], [Phone], [ClassID]) VALUES (N'STU0000003', N'Иван', N'Георгиев', N'ул. Славянска 5', N'0887987654', N'C0000002  ')
GO
INSERT [dbo].[StudentGrades] ([StudentGradeID], [UserID], [GradeID], [SubjectID], [Date]) VALUES (N'SG00000001', N'STU0000001', 5, N'MATH001   ', CAST(N'2024-12-01' AS Date))
INSERT [dbo].[StudentGrades] ([StudentGradeID], [UserID], [GradeID], [SubjectID], [Date]) VALUES (N'SG00000002', N'STU0000002', 4, N'ENG001    ', CAST(N'2024-12-02' AS Date))
INSERT [dbo].[StudentGrades] ([StudentGradeID], [UserID], [GradeID], [SubjectID], [Date]) VALUES (N'SG00000003', N'STU0000003', 3, N'BIO001    ', CAST(N'2024-12-03' AS Date))
GO
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (N'ART001    ', N'Изобразително изкуство')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (N'BIO001    ', N'Биология')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName]) VALUES (N'CHEM001   ', N'Химия')
GO
INSERT [dbo].[Teacher] ([UserID], [FirstName], [LastName]) VALUES (N'TCH0000001', N'Иван', N'Иванов')
INSERT [dbo].[Teacher] ([UserID], [FirstName], [LastName]) VALUES (N'TCH0000002', N'Петър', N'Петров')
INSERT [dbo].[Teacher] ([UserID], [FirstName], [LastName]) VALUES (N'TCH0000003', N'Мария', N'Димитрова')
GO
INSERT [dbo].[TeacherSubjects] ([TeacherID], [SubjectID]) VALUES (N'TCH0000001', N'ENG001    ')
INSERT [dbo].[TeacherSubjects] ([TeacherID], [SubjectID]) VALUES (N'TCH0000001', N'LIT001    ')
INSERT [dbo].[TeacherSubjects] ([TeacherID], [SubjectID]) VALUES (N'TCH0000002', N'MATH001   ')
GO
INSERT [dbo].[Users] ([UserID], [UserRole], [Password]) VALUES (N'ADM0000001', N'admin', N'123456789')
INSERT [dbo].[Users] ([UserID], [UserRole], [Password]) VALUES (N'STU0000001', N'Student', N'pavel2024')
INSERT [dbo].[Users] ([UserID], [UserRole], [Password]) VALUES (N'STU0000002', N'Student', N'lili123')
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([GradeID])
REFERENCES [dbo].[Grades] ([GradeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([UserID])
GO
